:root,
::before,
::after {
  --gray-25: #f8f8fa;
  --gray-50: #f0f2f4;
  --gray-75: #e9ebef;
  --gray-100: #e1e5ea;
  --gray-125: #dadee4;
  --gray-150: #d3d8df;
  --gray-175: #cbd1da;
  --gray-200: #c4cbd4;
  --gray-225: #bcc4cf;
  --gray-250: #b5bdca;
  --gray-275: #adb7c4;
  --gray-300: #a6b0bf;
  --gray-325: #9faaba;
  --gray-350: #97a3b4;
  --gray-375: #909daf;
  --gray-400: #8896aa;
  --gray-425: #818fa4;
  --gray-450: #7a899f;
  --gray-475: #72829a;
  --gray-500: #6b7c94;
  --gray-525: #65768d;
  --gray-550: #606f85;
  --gray-575: #5b697e;
  --gray-600: #556377;
  --gray-625: #505d6f;
  --gray-650: #4b5768;
  --gray-675: #455060;
  --gray-700: #404a59;
  --gray-725: #3b4452;
  --gray-750: #353e4a;
  --gray-775: #303843;
  --gray-800: #2b323b;
  --gray-825: #252b34;
  --gray-850: #20252c;
  --gray-875: #1b1f25;
  --gray-900: #15191e;
  --red-25: #fef3f3;
  --red-50: #fde8e8;
  --red-75: #fcdcdc;
  --red-100: #fbd0d0;
  --red-125: #fac4c4;
  --red-150: #f9b9b9;
  --red-175: #f8adad;
  --red-200: #f7a1a1;
  --red-225: #f69595;
  --red-250: #f58a8a;
  --red-275: #f47e7e;
  --red-300: #f37272;
  --red-325: #f26666;
  --red-350: #f15b5b;
  --red-375: #f04f4f;
  --red-400: #ef4343;
  --red-425: #ee3737;
  --red-450: #ed2c2c;
  --red-475: #ec2020;
  --red-500: #eb1414;
  --red-525: #df1313;
  --red-550: #d31212;
  --red-575: #c81111;
  --red-600: #bc1010;
  --red-625: #b00f0f;
  --red-650: #a40e0e;
  --red-675: #990d0d;
  --red-700: #8d0c0c;
  --red-725: #810b0b;
  --red-750: #750a0a;
  --red-775: #6a0909;
  --red-800: #5e0808;
  --red-825: #520707;
  --red-850: #460606;
  --red-875: #3b0505;
  --red-900: #2f0404;
  --orange-25: #fff8f3;
  --orange-50: #fef0e6;
  --orange-75: #fee9da;
  --orange-100: #fee1cd;
  --orange-125: #fddac1;
  --orange-150: #fdd2b4;
  --orange-175: #fdcba8;
  --orange-200: #fcc39c;
  --orange-225: #fcbc8f;
  --orange-250: #fcb483;
  --orange-275: #fbad76;
  --orange-300: #fba56a;
  --orange-325: #fb9e5d;
  --orange-350: #fb9651;
  --orange-375: #fa8f45;
  --orange-400: #fa8838;
  --orange-425: #fa802c;
  --orange-450: #f9791f;
  --orange-475: #f97113;
  --orange-500: #f96a06;
  --orange-525: #ec6406;
  --orange-550: #e05f06;
  --orange-575: #d35a05;
  --orange-600: #c75505;
  --orange-625: #ba4f05;
  --orange-650: #ae4a04;
  --orange-675: #a24504;
  --orange-700: #953f04;
  --orange-725: #893a04;
  --orange-750: #7c3503;
  --orange-775: #703003;
  --orange-800: #632a03;
  --orange-825: #572502;
  --orange-850: #4b2002;
  --orange-875: #3e1a02;
  --orange-900: #321501;
  --yellow-25: #fffcf3;
  --yellow-50: #fef8e6;
  --yellow-75: #fef5da;
  --yellow-100: #fdf2ce;
  --yellow-125: #fdeec1;
  --yellow-150: #fcebb5;
  --yellow-175: #fce8a9;
  --yellow-200: #fce49c;
  --yellow-225: #fbe190;
  --yellow-250: #fbde84;
  --yellow-275: #fada77;
  --yellow-300: #fad76b;
  --yellow-325: #fad45f;
  --yellow-350: #f9d152;
  --yellow-375: #f9cd46;
  --yellow-400: #f8ca3a;
  --yellow-425: #f8c72d;
  --yellow-450: #f7c321;
  --yellow-475: #f7c015;
  --yellow-500: #f7bd08;
  --yellow-525: #eab308;
  --yellow-550: #deaa08;
  --yellow-575: #d2a007;
  --yellow-600: #c59707;
  --yellow-625: #b98d06;
  --yellow-650: #ad8406;
  --yellow-675: #a07b05;
  --yellow-700: #947105;
  --yellow-725: #886805;
  --yellow-750: #7b5e04;
  --yellow-775: #6f5504;
  --yellow-800: #634b03;
  --yellow-825: #564203;
  --yellow-850: #4a3903;
  --yellow-875: #3e2f02;
  --yellow-900: #312602;
  --lime-25: #fafef3;
  --lime-50: #f4fde8;
  --lime-75: #effbdc;
  --lime-100: #eafad1;
  --lime-125: #e4f9c5;
  --lime-150: #dff8ba;
  --lime-175: #daf6ae;
  --lime-200: #d5f5a3;
  --lime-225: #cff497;
  --lime-250: #caf38c;
  --lime-275: #c5f180;
  --lime-300: #bff075;
  --lime-325: #baef69;
  --lime-350: #b5ee5e;
  --lime-375: #afec52;
  --lime-400: #aaeb47;
  --lime-425: #a5ea3b;
  --lime-450: #a0e930;
  --lime-475: #9ae724;
  --lime-500: #95e619;
  --lime-525: #8ddb18;
  --lime-550: #86cf16;
  --lime-575: #7fc415;
  --lime-600: #77b814;
  --lime-625: #70ad13;
  --lime-650: #68a111;
  --lime-675: #619610;
  --lime-700: #598a0f;
  --lime-725: #527f0e;
  --lime-750: #4a730c;
  --lime-775: #43680b;
  --lime-800: #3c5c0a;
  --lime-825: #345109;
  --lime-850: #2d4507;
  --lime-875: #253a06;
  --lime-900: #1e2e05;
  --green-25: #f4fdf7;
  --green-50: #e9fbf0;
  --green-75: #def9e8;
  --green-100: #d4f7e1;
  --green-125: #c9f6d9;
  --green-150: #bef4d2;
  --green-175: #b3f2ca;
  --green-200: #a8f0c3;
  --green-225: #9deebb;
  --green-250: #92ecb3;
  --green-275: #87eaac;
  --green-300: #7de8a4;
  --green-325: #72e79d;
  --green-350: #67e595;
  --green-375: #5ce38e;
  --green-400: #51e186;
  --green-425: #46df7e;
  --green-450: #3bdd77;
  --green-475: #30db6f;
  --green-500: #26d968;
  --green-525: #24cf63;
  --green-550: #22c45d;
  --green-575: #20b958;
  --green-600: #1eae53;
  --green-625: #1ca34e;
  --green-650: #1a9849;
  --green-675: #188d43;
  --green-700: #17823e;
  --green-725: #157839;
  --green-750: #136d34;
  --green-775: #11622f;
  --green-800: #0f572a;
  --green-825: #0d4c24;
  --green-850: #0b411f;
  --green-875: #09361a;
  --green-900: #082b15;
  --emerald-25: #f3fefa;
  --emerald-50: #e8fdf6;
  --emerald-75: #dcfcf1;
  --emerald-100: #d0fbed;
  --emerald-125: #c4fae8;
  --emerald-150: #b9f9e4;
  --emerald-175: #adf8df;
  --emerald-200: #a1f7da;
  --emerald-225: #95f6d6;
  --emerald-250: #8af5d1;
  --emerald-275: #7ef4cd;
  --emerald-300: #72f3c8;
  --emerald-325: #66f2c4;
  --emerald-350: #5bf1bf;
  --emerald-375: #4ff0ba;
  --emerald-400: #43efb6;
  --emerald-425: #38eeb1;
  --emerald-450: #2cedad;
  --emerald-475: #20eca8;
  --emerald-500: #14eba4;
  --emerald-525: #13df9b;
  --emerald-550: #12d393;
  --emerald-575: #11c78b;
  --emerald-600: #10bc83;
  --emerald-625: #0fb07b;
  --emerald-650: #0ea473;
  --emerald-675: #0d996a;
  --emerald-700: #0c8d62;
  --emerald-725: #0b815a;
  --emerald-750: #0a7552;
  --emerald-775: #096a4a;
  --emerald-800: #085e41;
  --emerald-825: #075239;
  --emerald-850: #064631;
  --emerald-875: #053b29;
  --emerald-900: #042f21;
  --teal-25: #f3fefd;
  --teal-50: #e8fdfa;
  --teal-75: #dcfbf8;
  --teal-100: #d1faf5;
  --teal-125: #c6f9f3;
  --teal-150: #baf8f1;
  --teal-175: #aef6ee;
  --teal-200: #a3f5ec;
  --teal-225: #98f4ea;
  --teal-250: #8cf2e7;
  --teal-275: #81f1e5;
  --teal-300: #75f0e3;
  --teal-325: #6aefe0;
  --teal-350: #5eeede;
  --teal-375: #53ecdb;
  --teal-400: #47ebd9;
  --teal-425: #3bead7;
  --teal-450: #30e9d4;
  --teal-475: #25e7d2;
  --teal-500: #19e6cf;
  --teal-525: #18dac5;
  --teal-550: #17cfbb;
  --teal-575: #15c4b0;
  --teal-600: #14b8a6;
  --teal-625: #13ac9c;
  --teal-650: #12a191;
  --teal-675: #109587;
  --teal-700: #0f8a7d;
  --teal-725: #0e7f72;
  --teal-750: #0d7368;
  --teal-775: #0b675d;
  --teal-800: #0a5c53;
  --teal-825: #095149;
  --teal-850: #08453e;
  --teal-875: #063934;
  --teal-900: #052e29;
  --sky-25: #f3fcfe;
  --sky-50: #e7f9fe;
  --sky-75: #daf5fd;
  --sky-100: #cef2fd;
  --sky-125: #c2effc;
  --sky-150: #b6ecfc;
  --sky-175: #aae9fb;
  --sky-200: #9ee5fb;
  --sky-225: #91e2fa;
  --sky-250: #85dff9;
  --sky-275: #79dcf9;
  --sky-300: #6dd9f8;
  --sky-325: #61d6f8;
  --sky-350: #54d2f7;
  --sky-375: #48cff7;
  --sky-400: #3cccf6;
  --sky-425: #30c9f5;
  --sky-450: #24c6f5;
  --sky-475: #17c2f4;
  --sky-500: #0bbff4;
  --sky-525: #0bb6e8;
  --sky-550: #0aacdb;
  --sky-575: #0aa3cf;
  --sky-600: #0999c3;
  --sky-625: #088fb7;
  --sky-650: #0886ab;
  --sky-675: #077c9e;
  --sky-700: #077392;
  --sky-725: #066986;
  --sky-750: #06607a;
  --sky-775: #05566e;
  --sky-800: #044c62;
  --sky-825: #044355;
  --sky-850: #033949;
  --sky-875: #03303d;
  --sky-900: #022631;
  --blue-25: #f3f7fe;
  --blue-50: #e7effe;
  --blue-75: #dae8fd;
  --blue-100: #cee0fd;
  --blue-125: #c2d8fc;
  --blue-150: #b6d0fc;
  --blue-175: #aac9fb;
  --blue-200: #9dc1fb;
  --blue-225: #91b9fa;
  --blue-250: #85b1f9;
  --blue-275: #79a9f9;
  --blue-300: #6da2f8;
  --blue-325: #619af8;
  --blue-350: #5492f7;
  --blue-375: #488af7;
  --blue-400: #3c83f6;
  --blue-425: #307bf5;
  --blue-450: #2473f5;
  --blue-475: #176bf4;
  --blue-500: #0b64f4;
  --blue-525: #0b5fe8;
  --blue-550: #0a5adb;
  --blue-575: #0a55cf;
  --blue-600: #0950c3;
  --blue-625: #084bb7;
  --blue-650: #0846ab;
  --blue-675: #07419e;
  --blue-700: #073c92;
  --blue-725: #063786;
  --blue-750: #06327a;
  --blue-775: #052d6e;
  --blue-800: #042862;
  --blue-825: #042355;
  --blue-850: #031e49;
  --blue-875: #03193d;
  --blue-900: #021431;
  --purple-25: #f9f3fe;
  --purple-50: #f3e7fe;
  --purple-75: #ecdafd;
  --purple-100: #e6cefd;
  --purple-125: #e0c2fc;
  --purple-150: #dab6fc;
  --purple-175: #d3aafb;
  --purple-200: #cd9efa;
  --purple-225: #c791fa;
  --purple-250: #c185f9;
  --purple-275: #ba79f9;
  --purple-300: #b46df8;
  --purple-325: #ae61f8;
  --purple-350: #a855f7;
  --purple-375: #a248f6;
  --purple-400: #9b3cf6;
  --purple-425: #9530f5;
  --purple-450: #8f24f5;
  --purple-475: #8918f4;
  --purple-500: #820bf4;
  --purple-525: #7c0be7;
  --purple-550: #750adb;
  --purple-575: #6f0acf;
  --purple-600: #6809c3;
  --purple-625: #6209b7;
  --purple-650: #5b08aa;
  --purple-675: #55079e;
  --purple-700: #4e0792;
  --purple-725: #480686;
  --purple-750: #41067a;
  --purple-775: #3b056e;
  --purple-800: #340561;
  --purple-825: #2e0455;
  --purple-850: #270349;
  --purple-875: #21033d;
  --purple-900: #1a0231;
  --fushsia-25: #fdf3fe;
  --fushsia-50: #fae8fd;
  --fushsia-75: #f8dcfc;
  --fushsia-100: #f5d0fb;
  --fushsia-125: #f3c4fa;
  --fushsia-150: #f1b9f9;
  --fushsia-175: #eeadf8;
  --fushsia-200: #eca1f7;
  --fushsia-225: #e995f6;
  --fushsia-250: #e78af5;
  --fushsia-275: #e47ef4;
  --fushsia-300: #e272f3;
  --fushsia-325: #e066f2;
  --fushsia-350: #dd5bf1;
  --fushsia-375: #db4ff0;
  --fushsia-400: #d843ef;
  --fushsia-425: #d638ee;
  --fushsia-450: #d42ced;
  --fushsia-475: #d120ec;
  --fushsia-500: #cf14eb;
  --fushsia-525: #c413df;
  --fushsia-550: #ba12d3;
  --fushsia-575: #b011c7;
  --fushsia-600: #a510bc;
  --fushsia-625: #9b0fb0;
  --fushsia-650: #910ea4;
  --fushsia-675: #860d99;
  --fushsia-700: #7c0c8d;
  --fushsia-725: #720b81;
  --fushsia-750: #670a75;
  --fushsia-775: #5d096a;
  --fushsia-800: #53085e;
  --fushsia-825: #480752;
  --fushsia-850: #3e0646;
  --fushsia-875: #34053b;
  --fushsia-900: #29042f;
  --pink-25: #fef3f9;
  --pink-50: #fde8f2;
  --pink-75: #fbdcec;
  --pink-100: #fad1e5;
  --pink-125: #f9c5df;
  --pink-150: #f8bad8;
  --pink-175: #f7aed2;
  --pink-200: #f5a3cb;
  --pink-225: #f497c5;
  --pink-250: #f38bbf;
  --pink-275: #f280b8;
  --pink-300: #f174b2;
  --pink-325: #ef69ab;
  --pink-350: #ee5da5;
  --pink-375: #ed529e;
  --pink-400: #ec4698;
  --pink-425: #eb3b92;
  --pink-450: #e92f8b;
  --pink-475: #e82485;
  --pink-500: #e7187e;
  --pink-525: #db1778;
  --pink-550: #d01672;
  --pink-575: #c4146b;
  --pink-600: #b91365;
  --pink-625: #ad125f;
  --pink-650: #a21158;
  --pink-675: #961052;
  --pink-700: #8b0e4c;
  --pink-725: #7f0d45;
  --pink-750: #740c3f;
  --pink-775: #680b39;
  --pink-800: #5c0a32;
  --pink-825: #51082c;
  --pink-850: #450726;
  --pink-875: #3a0620;
  --pink-900: #2e0519;
}