:root,
::before,
::after {
  --gray-25: #f8f9f9;
  --gray-50: #f1f2f3;
  --gray-75: #eaeced;
  --gray-100: #e4e5e7;
  --gray-125: #dddfe2;
  --gray-150: #d6d8dc;
  --gray-175: #cfd2d6;
  --gray-200: #c8cbd0;
  --gray-225: #c1c5ca;
  --gray-250: #babec4;
  --gray-275: #b3b8be;
  --gray-300: #adb1b8;
  --gray-325: #a6abb3;
  --gray-350: #9fa4ad;
  --gray-375: #989ea7;
  --gray-400: #9197a1;
  --gray-425: #8a919b;
  --gray-450: #838a95;
  --gray-475: #7c848f;
  --gray-500: #767d89;
  --gray-525: #707783;
  --gray-550: #6a717c;
  --gray-575: #646a75;
  --gray-600: #5e646e;
  --gray-625: #585e67;
  --gray-650: #525860;
  --gray-675: #4c5159;
  --gray-700: #474b52;
  --gray-725: #41454c;
  --gray-750: #3b3f45;
  --gray-775: #35383e;
  --gray-800: #2f3237;
  --gray-825: #292c30;
  --gray-850: #232629;
  --gray-875: #1d1f22;
  --gray-900: #18191b;
  --red-25: #fdf4f4;
  --red-50: #fbe9e9;
  --red-75: #f9dede;
  --red-100: #f8d3d3;
  --red-125: #f6c8c8;
  --red-150: #f4bebe;
  --red-175: #f2b3b3;
  --red-200: #f0a8a8;
  --red-225: #ee9d9d;
  --red-250: #ed9292;
  --red-275: #eb8787;
  --red-300: #e97c7c;
  --red-325: #e77171;
  --red-350: #e56666;
  --red-375: #e35b5b;
  --red-400: #e25050;
  --red-425: #e04545;
  --red-450: #de3b3b;
  --red-475: #dc3030;
  --red-500: #da2525;
  --red-525: #cf2323;
  --red-550: #c42121;
  --red-575: #ba1f1f;
  --red-600: #af1d1d;
  --red-625: #a41c1c;
  --red-650: #991a1a;
  --red-675: #8e1818;
  --red-700: #831616;
  --red-725: #781414;
  --red-750: #6d1212;
  --red-775: #621111;
  --red-800: #570f0f;
  --red-825: #4c0d0d;
  --red-850: #410b0b;
  --red-875: #370909;
  --red-900: #2c0707;
  --orange-25: #fef8f3;
  --orange-50: #fdf2e7;
  --orange-75: #fcebdb;
  --orange-100: #fce4cf;
  --orange-125: #fbddc4;
  --orange-150: #fad7b8;
  --orange-175: #f9d0ac;
  --orange-200: #f8c9a0;
  --orange-225: #f7c394;
  --orange-250: #f6bc88;
  --orange-275: #f6b57c;
  --orange-300: #f5af70;
  --orange-325: #f4a864;
  --orange-350: #f3a158;
  --orange-375: #f29a4d;
  --orange-400: #f19441;
  --orange-425: #f08d35;
  --orange-450: #f08629;
  --orange-475: #ef801d;
  --orange-500: #ee7911;
  --orange-525: #e27310;
  --orange-550: #d66d0f;
  --orange-575: #ca670f;
  --orange-600: #be610e;
  --orange-625: #b25b0d;
  --orange-650: #a7550c;
  --orange-675: #9b4f0b;
  --orange-700: #8f490a;
  --orange-725: #834309;
  --orange-750: #773c09;
  --orange-775: #6b3608;
  --orange-800: #5f3007;
  --orange-825: #532a06;
  --orange-850: #472405;
  --orange-875: #3b1e04;
  --orange-900: #301803;
  --yellow-25: #fefbf3;
  --yellow-50: #fdf8e7;
  --yellow-75: #fcf4db;
  --yellow-100: #fcf1cf;
  --yellow-125: #fbedc4;
  --yellow-150: #fae9b8;
  --yellow-175: #f9e6ac;
  --yellow-200: #f8e2a0;
  --yellow-225: #f7df94;
  --yellow-250: #f6db88;
  --yellow-275: #f6d87c;
  --yellow-300: #f5d470;
  --yellow-325: #f4d064;
  --yellow-350: #f3cd59;
  --yellow-375: #f2c94d;
  --yellow-400: #f1c641;
  --yellow-425: #f0c235;
  --yellow-450: #efbe29;
  --yellow-475: #efbb1d;
  --yellow-500: #eeb711;
  --yellow-525: #e2ae10;
  --yellow-550: #d6a510;
  --yellow-575: #ca9c0f;
  --yellow-600: #be930e;
  --yellow-625: #b2890d;
  --yellow-650: #a6800c;
  --yellow-675: #9b770b;
  --yellow-700: #8f6e0a;
  --yellow-725: #836509;
  --yellow-750: #775c09;
  --yellow-775: #6b5208;
  --yellow-800: #5f4907;
  --yellow-825: #534006;
  --yellow-850: #473705;
  --yellow-875: #3b2e04;
  --yellow-900: #302503;
  --lime-25: #fcfdf5;
  --lime-50: #f8faea;
  --lime-75: #f5f8e0;
  --lime-100: #f2f6d5;
  --lime-125: #eff3cb;
  --lime-150: #ebf1c1;
  --lime-175: #e8efb6;
  --lime-200: #e5ecac;
  --lime-225: #e1eaa1;
  --lime-250: #dee897;
  --lime-275: #dbe58c;
  --lime-300: #d8e382;
  --lime-325: #d4e178;
  --lime-350: #d1de6d;
  --lime-375: #cedc63;
  --lime-400: #cada58;
  --lime-425: #c7d74e;
  --lime-450: #c4d544;
  --lime-475: #c1d339;
  --lime-500: #bdd02f;
  --lime-525: #b4c62c;
  --lime-550: #aabb2a;
  --lime-575: #a1b128;
  --lime-600: #97a725;
  --lime-625: #8e9c23;
  --lime-650: #859221;
  --lime-675: #7b871e;
  --lime-700: #727d1c;
  --lime-725: #68731a;
  --lime-750: #5f6817;
  --lime-775: #555e15;
  --lime-800: #4c5313;
  --lime-825: #424910;
  --lime-850: #393e0e;
  --lime-875: #2f340c;
  --lime-900: #262a09;
  --green-25: #f7fbf6;
  --green-50: #eff8ed;
  --green-75: #e7f4e3;
  --green-100: #dff1da;
  --green-125: #d8edd1;
  --green-150: #d0eac8;
  --green-175: #c8e6be;
  --green-200: #c0e3b5;
  --green-225: #b8dfac;
  --green-250: #b0dca3;
  --green-275: #a8d899;
  --green-300: #a0d590;
  --green-325: #98d187;
  --green-350: #91ce7e;
  --green-375: #89ca74;
  --green-400: #81c76b;
  --green-425: #79c362;
  --green-450: #71c059;
  --green-475: #69bc4f;
  --green-500: #61b946;
  --green-525: #5cb043;
  --green-550: #57a63f;
  --green-575: #539d3c;
  --green-600: #4e9438;
  --green-625: #498b35;
  --green-650: #448131;
  --green-675: #3f782e;
  --green-700: #3a6f2a;
  --green-725: #356627;
  --green-750: #315c23;
  --green-775: #2c5320;
  --green-800: #274a1c;
  --green-825: #224119;
  --green-850: #1d3715;
  --green-875: #182e12;
  --green-900: #13250e;
  --teal-25: #f5fcfb;
  --teal-50: #ebf9f8;
  --teal-75: #e2f6f4;
  --teal-100: #d8f3f1;
  --teal-125: #cef0ed;
  --teal-150: #c4edea;
  --teal-175: #bbeae6;
  --teal-200: #b1e7e3;
  --teal-225: #a7e4df;
  --teal-250: #9de1dc;
  --teal-275: #93ded8;
  --teal-300: #8adbd5;
  --teal-325: #80d8d1;
  --teal-350: #76d5ce;
  --teal-375: #6cd2ca;
  --teal-400: #63cfc6;
  --teal-425: #59cdc3;
  --teal-450: #4fcabf;
  --teal-475: #45c7bc;
  --teal-500: #3bc4b8;
  --teal-525: #38baaf;
  --teal-550: #35b0a6;
  --teal-575: #32a69d;
  --teal-600: #309c93;
  --teal-625: #2d938a;
  --teal-650: #2a8981;
  --teal-675: #277f78;
  --teal-700: #24756f;
  --teal-725: #216c65;
  --teal-750: #1e625c;
  --teal-775: #1b5853;
  --teal-800: #184e4a;
  --teal-825: #154441;
  --teal-850: #123b37;
  --teal-875: #0f312e;
  --teal-900: #0c2725;
  --blue-25: #f3f9fe;
  --blue-50: #e8f4fd;
  --blue-75: #dceefc;
  --blue-100: #d0e8fb;
  --blue-125: #c4e3fa;
  --blue-150: #b9ddf9;
  --blue-175: #add7f8;
  --blue-200: #a1d2f7;
  --blue-225: #95ccf6;
  --blue-250: #8ac6f5;
  --blue-275: #7ec1f4;
  --blue-300: #72bbf3;
  --blue-325: #66b5f2;
  --blue-350: #5baff1;
  --blue-375: #4faaf0;
  --blue-400: #43a4ef;
  --blue-425: #379eee;
  --blue-450: #2c99ed;
  --blue-475: #2093ec;
  --blue-500: #148deb;
  --blue-525: #1386df;
  --blue-550: #127fd3;
  --blue-575: #1178c8;
  --blue-600: #1071bc;
  --blue-625: #0f6ab0;
  --blue-650: #0e63a4;
  --blue-675: #0d5c99;
  --blue-700: #0c558d;
  --blue-725: #0b4e81;
  --blue-750: #0a4775;
  --blue-775: #09406a;
  --blue-800: #08395e;
  --blue-825: #073152;
  --blue-850: #062a46;
  --blue-875: #05233b;
  --blue-900: #041c2f;
  --indigo-25: #f5f5fd;
  --indigo-50: #eaeafa;
  --indigo-75: #e0e0f8;
  --indigo-100: #d6d6f5;
  --indigo-125: #ccccf3;
  --indigo-150: #c1c1f0;
  --indigo-175: #b7b7ee;
  --indigo-200: #adadeb;
  --indigo-225: #a3a3e9;
  --indigo-250: #9898e6;
  --indigo-275: #8e8ee4;
  --indigo-300: #8484e1;
  --indigo-325: #7a7adf;
  --indigo-350: #6f6fdc;
  --indigo-375: #6565da;
  --indigo-400: #5b5bd7;
  --indigo-425: #5151d5;
  --indigo-450: #4646d2;
  --indigo-475: #3c3cd0;
  --indigo-500: #3232cd;
  --indigo-525: #2f2fc3;
  --indigo-550: #2d2db9;
  --indigo-575: #2a2aae;
  --indigo-600: #2828a4;
  --indigo-625: #25259a;
  --indigo-650: #232390;
  --indigo-675: #202085;
  --indigo-700: #1e1e7b;
  --indigo-725: #1b1b71;
  --indigo-750: #191967;
  --indigo-775: #16165c;
  --indigo-800: #141452;
  --indigo-825: #111148;
  --indigo-850: #0f0f3e;
  --indigo-875: #0c0c33;
  --indigo-900: #0a0a29;
  --purple-25: #faf5fc;
  --purple-50: #f6ebfa;
  --purple-75: #f1e1f7;
  --purple-100: #ecd6f5;
  --purple-125: #e8ccf2;
  --purple-150: #e3c2ef;
  --purple-175: #deb8ed;
  --purple-200: #daaeea;
  --purple-225: #d5a4e8;
  --purple-250: #d09ae5;
  --purple-275: #cc8fe2;
  --purple-300: #c785e0;
  --purple-325: #c27bdd;
  --purple-350: #be71db;
  --purple-375: #b967d8;
  --purple-400: #b45dd5;
  --purple-425: #b053d3;
  --purple-450: #ab48d0;
  --purple-475: #a63ece;
  --purple-500: #a234cb;
  --purple-525: #9a31c1;
  --purple-550: #922fb7;
  --purple-575: #8a2cac;
  --purple-600: #812aa2;
  --purple-625: #792798;
  --purple-650: #71248e;
  --purple-675: #692284;
  --purple-700: #611f7a;
  --purple-725: #591d70;
  --purple-750: #511a65;
  --purple-775: #49175b;
  --purple-800: #411551;
  --purple-825: #391247;
  --purple-850: #31103d;
  --purple-875: #280d33;
  --purple-900: #200a29;
  --pink-25: #fef4f8;
  --pink-50: #fce8f2;
  --pink-75: #fbddeb;
  --pink-100: #fad1e5;
  --pink-125: #f8c6de;
  --pink-150: #f7bbd8;
  --pink-175: #f6afd1;
  --pink-200: #f4a4ca;
  --pink-225: #f398c4;
  --pink-250: #f18dbd;
  --pink-275: #f082b7;
  --pink-300: #ef76b0;
  --pink-325: #ed6ba9;
  --pink-350: #ec5fa3;
  --pink-375: #eb549c;
  --pink-400: #e94996;
  --pink-425: #e83d8f;
  --pink-450: #e73289;
  --pink-475: #e52782;
  --pink-500: #e41b7b;
  --pink-525: #d81a75;
  --pink-550: #cd186f;
  --pink-575: #c21769;
  --pink-600: #b61663;
  --pink-625: #ab145d;
  --pink-650: #a01356;
  --pink-675: #941250;
  --pink-700: #89104a;
  --pink-725: #7d0f44;
  --pink-750: #720e3e;
  --pink-775: #670c38;
  --pink-800: #5b0b31;
  --pink-825: #50092b;
  --pink-850: #440825;
  --pink-875: #39071f;
  --pink-900: #2e0519;
}
