body {
  font-family: 'Inter', sans-serif;
  font-size: 1.0625rem;
  color: var(--gray-700);
  font-weight: 350;
  line-height: 1.65;
}

@media only screen and (min-width: 52rem) {
  aside.columns__column {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;

    > section {
      flex: 0 0 calc(50% - 1rem);
    }
  }
}

@media only screen and (min-width: 80rem) {
  .columns {
    display: flex;
    gap: 6rem;
  }

  .columns__column {
    flex: 1 0 0;
  }

  aside.columns__column {
    display: block;
    flex: 0 0 18rem;
  }
}